<!--search bar-->
  <div class="ui top attached menu">
    <div class="right menu">
      <div class="item">
        <div class="ui icon">
          <button id="openModal" class="ui button green"><i class="add link icon"></i>센서 등록</button>
        </div>
      </div>
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" id="columnSearch" type="text" placeholder="센서 찾기">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>